<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.google.android.drdat.gui">
	<application android:icon="@drawable/icon">
		<activity android:name=".DrdatForms" android:label="@string/instructions">
			<intent-filter>
				<action android:name="com.google.android.drdat.gui.INSTRUCTIONS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".DrdatListTasks" android:label="@string/listtasks">
			<intent-filter>
				<action android:name="com.google.android.drdat.gui.DRDATTASKS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".PartLogin" android:label="@string/part_login">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />

</manifest> 