<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.google.android.drdat.cl" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".DrdatCommunications" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider android:name=".DrdatTasklist" android:authorities="com.google.android.drdat.cl.drdattasklist"/>
		<provider android:name=".DrdatTask" android:authorities="com.google.android.drdat.cl.drdattask"/>
	</application>
	<uses-sdk android:minSdkVersion="7" />

	<permission 
		android:protectionLevel="normal" android:permissionGroup="com.google.android.drdat.DRDAT"
		android:name="com.google.android.drdat.DRDAT_TASKLIST" />
	<uses-permission android:name="com.google.android.drdat.DRDAT_TASKLIST" />
	<permission 
		android:protectionLevel="normal" android:permissionGroup="com.google.android.drdat.DRDAT"
		android:name="com.google.android.drdat.DRDAT_TASK" />
	<uses-permission android:name="com.google.android.drdat.DRDAT_TASK" />
	<uses-permission android:name="android.permission.INTERNET" />

</manifest> 