<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.google.android.drdat.cl" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/Communications" android:name=".DrdatCommunications">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/UpdateSchedule" android:name=".DrdatUpdateSchedule">
            <intent-filter>
                <action android:name="com.google.android.drdat.UPDATE_SCHEDULE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/ShowSchedule" android:name=".DrdatShowSchedule">
            <intent-filter>
                <action android:name="com.google.android.drdat.SHOW_SCHEDULE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<provider android:name=".DrdatTasklist" android:authorities="com.google.android.drdat.cl.drdattasklist"/>
		<provider android:name=".DrdatTask" android:authorities="com.google.android.drdat.cl.drdattask"/>
		<provider android:authorities="com.google.android.drdat.cl.drdatlogin" android:name=".DrdatLogin"/>
	</application>
	<uses-sdk android:minSdkVersion="7" />

	<permission 
		android:protectionLevel="normal" 
		android:permissionGroup="android.permission-group.DRDAT"
		android:name="android.permission.drdat.TASKLIST" />
	<uses-permission android:name="android.permission.drdat.TASKLIST" />
	
	<permission 
		android:protectionLevel="normal" 
		android:permissionGroup="android.permission-group.DRDAT"
		android:name="android.permission.drdat.TASK" />
	<uses-permission android:name="android.permission.drdat.TASK" />
	
	<uses-permission android:name="android.permission.INTERNET" />

</manifest> 